@import url('https://fonts.googleapis.com/css?family=Silkscreen&display=swap');

body{
	font-family: 'Silkscreen', display;
	text-align: left;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change hover color based on season color (e.g. neon green for FIRST Energize) */
.topnav li a:hover {
  background-color: #39FF14;
}

.active {
  background-color: #FF0000;
}
