@import url('https://fonts.googleapis.com/css?family=Silkscreen&display=swap');

body{
  font-family: 'Silkscreen', display;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change topnav and link hover color based on season color (e.g. neon green for FIRST Energize) */
.topnav li a:hover {
  background-color: #39FF14;
}

.active {
  background-color: #FF0000;
}

th, td {
  padding: 15px;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #808080;
}

a:link {
  color: #39FF14;
}
  
a:visited {
  color: #FF0000;
}

.bronze {
  color: #CD7F32;
}

.silver {
  color: #C0C0C0;
}

.gold {
  color: #FFD700;
}

.platinum {
  color: #E5E4E2;
}
